*{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    padding: 0;
   
  
  }
  .row{
    background-color: #333f7d;
    
    display: flex;
    justify-content: space-around;
    max-width: 1550px;
    margin: 0 auto; 
  }
  li{
    display: flex;
  }
  .logo_cont{
    display: flex;  
    width: 100px;
    height: 60px;
  }
  .logo_cont img{
    width: 100%;
    height: 100%;
  }
  .burger_menu{
    display: none;
  }
  .cont_list{
    display: flex;
    align-items: center;
  }
  .cont_li{

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list {

    display: flex;
    list-style: none;
    gap: 2rem;
  }

  a{
    text-decoration: none;
    color: white;
  }
  .register_container{
    display: flex;
    align-items: center;
  }
  
  .regist_list {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
  }
  
  .banner_cont{
    display: flex;
    width: 100%;
    height: 500px;
  }
  .right_banner{
    width: 50%;
    height: 64vh;
    background: url(../img/slider.png);
    background-repeat: no-repeat;
    background-position-x: right;
  }
  .img_phot{
    width: 100%;
    height: 64vh;
    background: url(../img/Rectangle\ 141.svg);
    background-repeat: no-repeat;
  }
  .left_banner{
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    flex-direction: column;
  } 
  .select_op{
    border: none;
    background-color: #333f7d;
    color: white;
  }
  .sel_op:hover{
    text-decoration: underline;
    border: none;
  }
  .fa_fa-user{
    color: white;
  }
  @media(max-width: 1024px){
    .logo_cont{
      display: flex;
      margin:0 auto;  
      width: 70px;
      height: 60px;
    }
    
    .logo_cont img{
      width: 100%;
      height: 100%;
    }
  
  }
  @media(max-width: 768px){
    .logo_cont{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo_cont img{
      width: 50px;
      height: 50px;
    }
    .cont_li{
      display: none;
    }
  
    .regist_list{
      display: none;
    }
    .burger_menu{
      display: flex;
    }
    
  }

  .main_contaier{
    display: flex;
    justify-content: center;
  }
  .main_cont{
    display: flex;
    max-width: 1150px;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .study_program_text {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .toothee{
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: solid 2px blue;
  }
  .tobee{
    display: flex;
    width: 781px;
  }

  .toBe{
    display: flex; 
    gap: 3rem;
    justify-content: flex-start;
  }


.left_ponel{
  display: flex;
  gap:2rem;
}
.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 280px;
}
.search1{
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.search1 label{
  display: flex;
  align-items: center;
  gap: 1rem;
}
  .major_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

  }

  .info_container{
    display: flex;
    flex-direction: column; 
    max-width: 1150px;
    justify-content: center;
    gap: 1rem;
  }

  .courses_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
  }
 
  .child{
    display: flex;
    align-items: center;
    gap: 1rem;
  }   
  .child_icon{
  
  }
  .child_text{
  
  }
  
  .teenager{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .teenager_icon{
  
  }
  
  
  .teenager_text{
  
  }
  
  
  .adult{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  
  .adult_icon{
  
  }
  
  .adult_text{
    
  }
  .lists_of_courses{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    gap: 1rem;
    
  }
  .lists_of_courses button{
    background-color :cornsilk;
    padding:0px 22px;
    
    border-radius: 10px;
    height: 50px;
  }
.card_container{
  display: flex;

}
.cards_cont{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  height: 1300px;
  
}
.cardssss{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 400px;
  background-color: 
  rgba(255, 206, 148, 1);
  border-radius: 15px;
  gap: 1rem;
  padding: 22px;
  
}
.cards_text_prog{
  color: #85878f;
  font-size: 15px;
}

.mobile_text{
  display: flex;
  width: 85%;
  gap: 2rem;
}


/* footer */
.footer_container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #00093C;
  color: white;
}
.s_m_c img{
  color: white;
  width: 70%;
  height: 70%;
}
.social_media{
 margin: 30px 0;

}
.social_media a{
  color: rgb(109, 105, 167);
}
.social_media h6{
  margin-bottom: 10px;
  color: rgb(238, 238, 241);
}
.social_media h4{
  margin-bottom: 10px;
  color: rgb(241, 241, 243);
}
.details_cont{

}
.footer_icon{
  margin-top: 10px;
  display: flex;
  gap: 1.5rem;
}
section{
  width: 100%;
  height: 100vh;
  
} 
.footer_textt{
  color: #85878f;
}
