*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
 

}
.row{
  display: flex;
  justify-content: space-around;
  max-width: 1550px;
  margin: 0 auto; 
}
li{
  display: flex;
}
.logo_cont{
  display: flex;  
  width: 100px;
  height: 60px;
}
.logo_cont img{
  width: 100%;
  height: 100%;
}
.burger_menu{
  display: none;
}
.cont_list{
  display: flex;
  align-items: center;
}
.cont_li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  
  display: flex;
  list-style: none;
  gap: 2rem;
}
a{
  text-decoration: none;
  color: black;
}
.register_container{
  display: flex;
  align-items: center;
}

.regist_list {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 1rem;
}

.banner_cont{
  display: flex;
  width: 100%;
  height: 500px;
}
.right_banner{
  width: 50%;
  height: 64vh;
  background: url(../img/slider.png);
  background-repeat: no-repeat;
  background-position-x: right;
}
.img_phot{
  width: 100%;
  height: 64vh;
  background: url(../img/Rectangle\ 141.svg);
  background-repeat: no-repeat;
}
.left_banner{
  width: 50%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  flex-direction: column;
} 
.select_op{
  border: none;
}
.sel_op:hover{
  text-decoration: underline;
  border: none;
}
@media(max-width: 1024px){
  .logo_cont{
    display: flex;
    margin:0 auto;  
    width: 70px;
    height: 60px;
  }
  
  .logo_cont img{
    width: 100%;
    height: 100%;
  }

}
@media(max-width: 768px){
  .logo_cont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo_cont img{
    width: 50px;
    height: 50px;
  }
  .cont_li{
    display: none;
  }

  .regist_list{
    display: none;
  }
  .burger_menu{
    display: flex;
  }
  
}

/* main */
.main_container{

}
.info_container{
  display: flex;
  justify-content: center;
  max-width: 1150px;
  margin: 10px auto;
  gap: 1rem;
  height: 40vh;
}
.owl_target_container{
  display: flex;
  margin: 0 auto;
}
.owl_text {
  border: 3px solid green;
  /* height: 70px; */
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin-left: 300px;
  border-radius: 30px;
  border-right-color: hsla(198, 76%, 52%, 1);
  border-left-color: hsla(33, 93%, 54%, 1);
  padding: 20px;
  position: absolute;
  /* top: 220px; */
}
.owl{
  position: absolute;
  left: 200px;
  top: 650px;
}
.owl_text::before, .owl_text::after {
  content: ''; 
  position: absolute;
  left: 100px; 
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid green;
}
.courses_text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 170px;
  margin: 20px auto;
}

.good_luck{
  display: flex;
  justify-content: start;
  margin: 0 0 0 30px;
}


/* .owl_img img{
  position: absolute;
  width: 168px;
  height: 188.05px;
  z-index: 10;
  margin: 70px 0px 0px -50px ;

} */
.toBe{
  display: flex; 
  gap: 3rem;
}
.child{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.child_icon{

}
.child_text{

}

.teenager{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.teenager_icon{

}


.teenager_text{

}


.adult{
  display: flex;
  align-items: center;
  gap: 1rem;
}


.adult_icon{

}

.adult_text{
  
}
.lists_of_courses{
  width: 610px;
  height: 54.24px; 
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 ;
  gap: 1rem;
}
.lists_of_courses button{
  background-color :cornsilk;
  padding: 10px;
  border-radius: 10px;
}
.video_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto;

}
.video_container video{
  height: 100%;
  width: 100%;

}

.caards{
  display: flex;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;

}
.card{
  background-color: rgba(247, 188, 117, 1);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 10px;
  gap: 1rem;

}

.card_25 h1{
  font-size: 60px;
}
.card_text{

}

.card_button button{
  display: flex;
  padding: 10px;
  width: 120px;
}

.card1{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.card11{
  background-color: rgba(197, 221, 255, 1);
  box-shadow: 5px 7px 8px 4px rgb(240, 240, 240);
  width: 35%;
  height: 400px;
  border-radius: 15px;
  padding: 10px 0 0 0;
}
.card11_sub{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}
.card11_sub_img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.card11_sub img {
  width: 20%;
}
.card11_sub h4 {
  font-size: 24px ;
}

.card11_sub p{
  display: flex;
  align-items: center;
  text-align: center;
  width: 320px;

}
.card11_sub button{
  border-radius: 20px;
  width:222.45px;
  height:50.04px;
  
}
.card22{
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.card1_1{
  display: flex;
  width: 100%;
}

.card1_1_1{
  border-radius: 20px;
  background-color: rgba(184, 239, 207, 1);
  box-shadow: 5px 7px 8px 4px rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  grid-gap: 1rem;
}
.card1_1_2{
  background-color: rgba(255, 238, 246, 1);
  box-shadow: 5px 7px 8px 4px rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  border-radius: 15px;
  grid-gap: 1rem;
}
.card1_2{
  background-color: rgba(255, 227, 142, 1);
  box-shadow: 5px 7px 8px 4px rgb(240, 240, 240);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.card1_2_sub{
  display: flex;
  justify-content: center;
  grid-gap: 2rem;

}
.card1_2 img{
  width: 10%;
}

.card1_2_title{
  width: 70%;
}



.more_about_us{
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 1150px;
margin: 10px auto;
}
.actual{
 width: 40%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap; 
 margin: 10px auto;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
  margin: 10px 0;
}


.courses{
color: yellow;
}
.teachers{
color: red;
}
.graduates{
color: cyan;
}

.f_student{
  width: 100%;
  display: flex;
  height: 550px;
  background-color: #020f5c;
  color: white;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 2px solid white;
}

.f_student_cards{
  display: flex;
  /* margin-top: 4%;
  margin-left: 3%; */
  background-color: white;
  color: black;
  width: 200px;
  /* height: 340px; */
  border-radius: 20px;
  padding: 10px;
  flex-wrap: wrap;

}

.name{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}



.photo img{

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}


.f_student_text{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content:center;
  /* align-items: center; */
  margin-top: 45px;

}


.star{
  display: flex;
  align-items: end;
}

.welcome_container{
  max-width: 1550px;
  width: 100%;
  margin-bottom: 150px;
  
}
.welc_text{
margin-top: 25px;
margin-bottom: 55px;
display: flex;
justify-content: center;


}
.welcome_icon{
  margin-bottom: 15px; 
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.welcome_text{
display: flex;
justify-content: space-evenly;

}
.welcome_text p {
  width: 88px;
  height: 50px;
  
}





/* footer */

.footer_container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #00093C;
  color: white;
}
.s_m_c img{
  color: white;
  width: 70%;
  height: 70%;
}
.social_media{
 margin: 30px 0;

}
.social_media a{
  color: rgb(109, 105, 167);
}
.social_media h6{
  margin-bottom: 10px;
  color: rgb(238, 238, 241);
}
.social_media h4{
  margin-bottom: 10px;
  color: rgb(241, 241, 243);
}
.details_cont{

}
.footer_icon{
  margin-top: 10px;
  display: flex;
  gap: 1.5rem;
}
section{
  width: 100%;
  height: 100vh;
  
} 
.footer_textt{
  color: #85878f;
}



@keyframes section {
  0%{
    background-color: #00093C;
  }
  25%{
    background-color: #0f1d6d;
  }
  50%{
    background-color: #85878f;
  }
  75%{
    background-color: #c5c7d5;
  }
  100%{
    background-color: #f6f6f7;
  }
}